@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.header{
    text-align: center;
    padding: 10rem 0 3rem;
}

.title {
    
    font-family: 'Lobster', cursive;
    color: #000000;
    font-size: 5rem;
    text-decoration: none;

}
.nav-list{
    font-family: 'Lobster', cursive;
    display:flex;
    justify-content: space-between;
    list-style-type: none;

}
.nav-item {
    color: #131212;
    font-size: .9rem;
   
    text-decoration: none;

}
.nav-item:hover{
    color: #5c5c5c;
}

.active-nav-item {
    color: #690909
}