@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.header{
    text-align: center;
    padding: 3rem 0 8rem;
   
}

.title {
    color: #e6f1ff;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    text-decoration: none;


}
.title:hover{
    color: #64ffda; 
}
.title-move{
    position: relative;
    animation-name: drif;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}
.nav{
    opacity: 0;
    animation-name: nonav;
    animation-duration: .5s;
    animation-delay: .95s;
    animation-fill-mode: forwards;
    
}
.nav-list{
    font-family: 'Lobster', cursive;
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: -1rem;
    margin-bottom: -3rem;
    margin-left: 0rem;

}
.nav-item {
    font-size: .9rem;
    color: #ccd6f6;
    text-decoration: none;

}
.nav-item:hover{
    color: #64ffda;
}

.active-nav-item {
text-decoration: underline;
}
@keyframes drif{
    0% {transform: translateY(-25vh)}
    100%{transform: translateY(0vh)}
}
@keyframes nonav{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}