
$total-items: 8;




.ul{
  max-width: 450px;

}
.li {
  position: relative;
  display: block;
  font-size: 8px;
  float: left;
  margin-bottom: 5px;
  padding: 10px;
  
  text-transform: uppercase;

  animation: fadeIn 0.5s linear; // name duration timeing func 
  animation-fill-mode: both;
  
    
}


.skill{
  text-align: center;
  p {
    color: transparent
  }
  
  }
.skill:hover p{
  color:inherit;
}
 

// Set delay per List Item
@for $i from 1 through $total-items {
  li:nth-child(#{$i}) {
    animation-delay: .25s * $i;
  }
}

// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
